body {
    background-color: #2c2b2b;
    font-family: 'Do Hyeon', sans-serif;
    /* background-color: black; */
}

#title{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 70vw;
}

#game-canvas {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    width: 70vw;
    background-image: url(../images/Big\ Room.bmp);
}