html, body {
    margin: 0;
    padding: 0;
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    background: linear-gradient(0deg, #2980b9, transparent);
    background-image: url(../images/104598-space-pixel_art-horizon-stars.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {}

#title img{
    margin: 10px 0 0 10vw;
    width: 67vw;
}

#sub-title{
    position: absolute;
    top: 60px;
    left: 60vw;
}

#sub-title p {
    font-size: 50px;
}

/* #fanArt img{
    height: 30vw;
} */

#game-canvas {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    width: 70vw;
    max-width: 800px;
    background-image: url(../images/Big\ Room.bmp);
}