body {
    background-color: #2c2b2b;
    /* background-color: black; */
}

#game-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid black; */
    width: 60vw;
    background-image: url(../images/Big\ Room.bmp);
}